* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

a {
  color: inherit;
  text-decoration: inherit;
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
}

.header {
  background: #24252a;
}
.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo h1 {
  color: #fff;
  cursor: pointer;
}
.navbar__collection {
  display: flex;
  align-items: center;
  gap: 28px;
}

.navbar__link {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.navbar__button button {
  padding: 10px 22px;
  border-radius: 0 12px 0 12px;
  border: none;
  box-shadow: rgba(9, 255, 0, 0.979) 0px 2px 5px -1px,
    rgba(51, 255, 0, 0.918) 0px 3px 5px 0.5px;
  cursor: pointer;
  font-weight: 900;
}


/* category style */
.category {
  margin: 30px 0;
}

.category__collection {
  display: flex;
  gap: 20px;
  overflow: auto;
}
.category__collection::-webkit-scrollbar {
  height: 0;
}
.category__item data {
  display: inline-block;
  white-space: nowrap;
  background: gray;
  padding: 12px 22px;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  clip-path: polygon(18px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 18px);
  transition: clip-path 0.5s;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
}

.category__item data:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: #aba9b4;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.616);
  border-radius: 0 0 6px 0;
  transition: transform 0.5s;
}

.category__item data:hover {
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
}

.category__item data:hover:after {
  transform: translate(-100%, -100%);
}

/* product style */
.products {
  margin: 40px 0;
}

.products__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.product__card {
  display: flex;
  gap: 30px;
  padding: 12px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 16px;
  cursor: pointer;
}
.product__card:hover .product__img img {
  transform: scale(1.11);
}

.product__img {
  width: calc(50% - 15px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.product__img img {
  width: 100%;
  height: 100%;
  padding: 30px;
  object-fit: contain;
  transition: 0.5s ease-in-out;
}
.product__brand {
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px 14px;
  background: #616161;
  color: #fff;
}


.product__text {
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}
.product__text h3 {
  font-size: 24px;
}
.product__desc {
  color: #353535;
}

.product__rating {
  display: flex;
  width: 100%;
}
.product__stars {
  flex: 1;
}
.product__stars a {
  color: #bbbbbb;
}
.product__rating__p {
  color: red;
  font-weight: 900;
}
.product__information {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.product__price {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 900;
}
.product__price span {
  color: gray;
  font-size: 16px;
  letter-spacing: 0;
}
.product__text button {
  padding: 12px 22px;
  border: none;
  background: #0077ff;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
}
.product__text button:hover {
  background: #01418a;
}

.products__bottom {
  text-align: center;
}
.products__btn {
  margin: 40px auto;
  display: flex;
  padding: 16px 40px;
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.products__btn span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.products__btn span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.products__btn:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.products__btn:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.products__btn:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}


/* footer style */
.footer{
    margin-top: 40px;
    background: #18181a;
}
.footer__wrapper{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text{
    color: #fff;
}
.footer__social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.footer__social a{
    color: #000;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}
.footer__social a:hover{
    background: #000;
    color: #fff;
}

@media (max-width: 910px) {
    .navbar__button button{
        display: none;
    }
    .navbar__logo{
        flex: 1;
    }
    .category__item data{
        padding: 8px 18px;
    }
    .products__wrapper{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 660px) {
    .footer__text{
        font-size: 12px;
    }
    .footer__social a{
        width: 25px;
        height: 25px;
        font-size: 18px;
    }
}
@media (max-width: 500px) {
    .footer__wrapper{
        flex-direction: column;
        padding: 12px 0;
    }
}


/* Loading style */
.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff42;
    z-index: 101;
    backdrop-filter: blur(4px);
}
.loader {
    --uib-size: 100px;
    --uib-color: black;
    --uib-speed: 1.75s;
    --uib-bg-opacity: .1;
    position: relative;
    display: flex;
    flex-direction: column;
    height: var(--uib-size);
    width: var(--uib-size);
    transform: rotate(45deg);
    animation: rotate calc(var(--uib-speed) * 2) ease-in-out infinite;
  }

  .half {
    --uib-half-size: calc(var(--uib-size) * 0.435);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--uib-half-size);
    height: var(--uib-half-size);
    overflow: hidden;
    isolation: isolate;
  }

  .half:first-child {
    top: 8.25%;
    left: 8.25%;
    border-radius: 50% 50% calc(var(--uib-size) / 15);
  }

  .half:last-child {
    bottom: 8.25%;
    right: 8.25%;
    transform: rotate(180deg);
    align-self: flex-end;
    border-radius: 50% 50% calc(var(--uib-size) / 15);
  }

  .half:last-child::after {
    animation-delay: calc(var(--uib-speed) * -1);
  }

  .half::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--uib-color);
    opacity: var(--uib-bg-opacity);
    transition: background-color 0.3s ease;
  }

  .half::after {
    content: '';
    position: relative;
    z-index: 1;
    display: block;
    background-color: var(--uib-color);
    height: 100%;
    transform: rotate(45deg) translate(-3%, 50%) scaleX(1.2);
    width: 100%;
    transform-origin: bottom right;
    border-radius: 0 0 calc(var(--uib-size) / 20) 0;
    animation: flow calc(var(--uib-speed) * 2) linear infinite both;
    transition: background-color 0.3s ease;
  }

  @keyframes flow {
    0% {
      transform: rotate(45deg) translate(-3%, 50%) scaleX(1.2);
    }
    30% {
      transform: rotate(45deg) translate(115%, 50%) scaleX(1.2);
    }
    30.001%, 50% {
      transform: rotate(0deg) translate(-85%, -85%) scaleX(1);
    }
    80%, 100% {
      transform: rotate(0deg) translate(0%, 0%) scaleX(1);
    }
  }

  @keyframes rotate {
    0%, 30% {
      transform: rotate(45deg);
    }
    50%, 80% {
      transform: rotate(225deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
